:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #FFFFFF;
  --accent-color: #2196F3;
  --primary-background-color: #F5F5F5;
  --secondary-background-color: #2F303A;
  --section-background-color: #F5F4FA;
  --hero-title-color: #FFFFFF;
  --primary-logo-color: #000000;
  --secondary-logo-color: #2196F3;
  --color-contacts: rgba(255, 255, 255, 0.6);
  --color-borders: #EEEEEE;
  --background-team: #FFFFFF;
  --cards-color: AFB1B8;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

body {
  color: var(--primary-text-color);
  margin: 0;
}

h1, h2, h3, p, ul {
  margin: 0;
}

ul {
  padding: 0;
}

.link {
  text-decoration: none;
}
.link.current {
  color: var(--accent-color);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}
.logo span {
  color: var(--secondary-logo-color);
}

.links {
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
}
.links .logo {
  letter-spacing: 0.03em;
}

.section-title {
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

.list {
  list-style: none;
}

.links a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links a a:hover, .links a a:focus {
  color: var(--accent-color);
}

.button {
  color: var(--title-text-color);
  background-color: var(--section-background-color);
  font-family: inherit;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button.primary:hover, .button.primary:focus {
  color: var(--accent-color);
  background-color: var(--primary-background-color);
}

.order__button {
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  min-width: 216px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}
.order__button:hover, .order__button:focus {
  color: var(--accent-color);
  background-color: var(--primary-background-color);
  box-shadow: none;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.navigation {
  width: 100%;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (min-width: 768px) {
  .navigation {
    padding: 0 15px;
  }
}
.navigation__header {
  margin: 0 auto;
}
.navigation__pages {
  display: flex;
}
.navigation__page {
  color: var(--title-text-color);
  font-weight: 500;
}

.navigation__links {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__links {
    display: initial;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__links {
    display: initial;
    height: 80px;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .navigation__links.links.header {
    display: none;
  }
}

.list.contacts {
  display: flex;
  min-width: 307px;
  align-items: center;
}
.list.contacts li:not(:last-child) {
  margin-right: 30px;
}

.navigation__holder-contacts {
  display: flex;
  align-items: center;
}

.navigation__holder-contacts-phone {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.contacts.link.header:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contacts.link.header:hover .navigation__icon-mail {
  fill: var(--accent-color);
}
.contacts.link.header:hover .navigation__icon-phone {
  fill: var(--accent-color);
}

.contacts.link.header {
  color: var(--primary-text-color);
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts.link.header:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contacts.link.header:focus .navigation__icon-mail {
  fill: var(--accent-color);
}
.contacts.link.header:focus .navigation__icon-phone {
  fill: var(--accent-color);
}

.navigation__icon-mail,
.navigation__icon-phone {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .logo {
  color: var(--primary-logo-color);
}

.links.header a {
  padding: 24px 0 25px 0;
}

.navigation__menu {
  width: 281px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.navigation__page.link.current {
  position: relative;
  padding-bottom: 32px;
}
.navigation__page.link.current::after {
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .navigation__links {
    width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .navigation__contacts {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .navigation__mail.contacts.link.header,
.navigation__phone.contacts.link.header {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .navigation__mail.contacts.link.header {
    margin-bottom: 10px;
    margin-left: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__mail.contacts.link.header {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .navigation__phone.contacts.link.header {
    margin-left: 50px;
  }
}

.section.order {
  width: 100%;
  flex-grow: 1;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-1x.jpg);
  margin: 0 auto;
  padding: 0 15px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section.order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .section.order {
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-1x.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .section.order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section.order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section.order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section.order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section.order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop-2x.jpg);
  }
}

.order__title {
  font-size: 26px;
  color: var(--hero-title-color);
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  max-width: 360px;
}
@media screen and (min-width: 480px) {
  .order__title {
    min-width: 360px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .order__title {
    min-width: 696px;
    font-size: 44px;
  }
}

.order__container {
  width: 100%;
  letter-spacing: 0.06em;
  text-align: center;
}
@media screen and (max-width: 479px) {
  .order__container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .order__container {
    width: 480px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .order__container {
    margin: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .order__container {
    width: 1200px;
    height: 600px;
    padding: 200px 452px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.advantages__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    flex-wrap: nowrap;
  }
}
.advantages__holder {
  max-width: 270px;
  min-height: 98px;
}
@media screen and (min-width: 480px) {
  .advantages__holder {
    max-width: 450px;
    min-height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__holder {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__holder {
    max-width: 270px;
    min-height: 98px;
  }
}
.advantages__icon-holder {
  background-color: var(--section-background-color);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
}
@media screen and (min-width: 480px) {
  .advantages__icon-holder {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__icon-holder {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__icon-holder {
    width: 270px;
  }
}
.advantages__description-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-align: center;
}
.profile {
  padding-top: 0;
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .profile {
    display: flex;
    justify-content: center;
  }
}
.profile .section-title {
  margin-bottom: 50px;
  text-align: center;
}
.profile__layer {
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.profile__layer-descr {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.profile__list-holder {
  position: relative;
}

.list.profile {
  display: flex;
  padding: 0;
}
.list.profile li:not(:last-child) {
  margin-right: 30px;
}
.list.profile img {
  display: block;
}

.team {
  background-size: 100%;
}

.section.team {
  width: 100%;
  margin: 0 auto;
  background-color: var(--section-background-color);
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .section.team {
    display: flex;
    justify-content: center;
  }
}
.section.team .section-title {
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section.team .section-title {
    margin-bottom: 50px;
  }
}

.list.team {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .list.team {
    flex-wrap: nowrap;
  }
}
.list.team .team__title-name {
  margin-bottom: 10px;
  text-align: center;
}
.list.team .team__title-position {
  text-align: center;
}

.team__holder-soc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}
@media screen and (max-width: 479px) {
  .team__holder-soc {
    padding-bottom: 36px;
  }
}

.team__soc-profiles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__soc-profiles:hover, .team__soc-profiles:focus {
  background-color: var(--accent-color);
}
.team__soc-profiles:hover .team__soc-icon, .team__soc-profiles:focus .team__soc-icon {
  fill: var(--secondary-text-color);
}
.team__soc-profiles .team__soc-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__cards {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-team);
  height: 428px;
}
@media screen and (min-width: 480px) {
  .team__cards {
    width: 450px;
    height: 622px;
  }
}
@media screen and (min-width: 768px) {
  .team__cards {
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .team__cards {
    width: 270px;
    height: 428px;
  }
}

.team__info-holder {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team__soc-icon {
  display: block;
  justify-content: center;
  fill: #AFB1B8;
}

.team__list-soc {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__title-name {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}

.team__title-position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.examples__hover {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 1px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.examples__gallery {
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
}
.examples__holder {
  padding: 20px 24px;
  border-left: 1px solid var(--color-borders);
  border-right: 1px solid var(--color-borders);
  border-bottom: 1px solid var(--color-borders);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.examples__title {
  color: var(--title-text-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}
.examples__description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
.examples__img {
  position: relative;
  overflow: hidden;
  width: 450px;
}
@media screen and (max-width: 479px) {
  .examples__img {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .examples__img {
    flex-wrap: wrap;
    width: 354px;
    justify-content: flex-start;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .examples__img {
    width: 370px;
  }
}

.list.examples {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .list.examples {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
  }
}
@media screen and (min-width: 768px) {
  .list.examples {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
  }
}
.list.examples.buttons {
  margin-bottom: 50px;
}
@media screen and (max-width: 479px) {
  .list.examples.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .list.examples.buttons {
    margin-bottom: 30px;
  }
}
.list.examples.buttons li:not(:last-child) {
  margin-right: 8px;
}

.examples__cards {
  width: 354px;
}
@media screen and (max-width: 767px) {
  .examples__cards {
    width: 300px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .examples__cards {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .examples__cards {
    width: 370px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .examples__cards:not(:last-child) {
    margin-bottom: 30px;
  }
}

.examples__cards .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__cards .link:hover, .examples__cards .link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.examples__cards img {
  display: block;
}

.examples__cards:hover .examples__hover {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .examples__gallery.list.examples {
    margin: 0;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .examples__gallery-box {
    width: 300px;
  }
}
@media screen and (min-width: 480px) {
  .examples__gallery-box {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .examples__gallery-box {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .examples__gallery-box {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .examples__list.list.examples {
    display: flex;
    justify-content: center;
  }
}

.examples_link.link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.clients {
  display: flex;
  justify-content: center;
}
.clients__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: no-wrap;
    gap: 0;
  }
}
.clients__cards {
  /* border: 1px solid #AFB1B8;
  border-radius: 4px; */
  list-style: none;
  transition: border 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__cards:hover {
  border-color: var(--accent-color);
}
.clients__cards:not(:last-child) {
  margin-right: 0;
}
@media screen and (min-width: 1200px) {
  .clients__cards:not(:last-child) {
    margin-right: 30px;
  }
}
.clients__cards-holder {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__cards-holder:hover, .clients__cards-holder:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
.clients__cards-holder:hover .clients__icon {
  fill: var(--accent-color);
}
.clients__cards-holder:focus .clients__icon {
  fill: var(--accent-color);
}
.clients__icon {
  fill: #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section.regulars h2 {
  margin-bottom: 50px;
  text-align: center;
}

.contacts__container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .contacts__container {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__container {
    height: 132px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 1200px;
  }
}
.contacts__container .logo.link {
  display: flex;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 154px;
}
@media screen and (min-width: 1200px) {
  .contacts__container .logo.link {
    margin-right: 0;
    margin-left: 0;
  }
}
.contacts__container .join__title {
  text-transform: uppercase;
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: block;
  margin: auto;
  width: 146px;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .contacts__container .join__title {
    margin-left: 0;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .contacts__box {
    display: flex;
    align-items: baseline;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__box {
    gap: 0;
  }
}

footer .logo {
  color: var(--secondary-text-color);
}

.contacts__address-holder {
  height: 127px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .contacts__address-holder {
    margin-right: 70px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.join {
  height: 80px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .join {
    margin-bottom: 0;
  }
}

.join__title {
  margin-bottom: 20px;
}

.list.social {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.join__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__icon-soc {
  display: flex;
  justify-content: center;
}
.join__icon-soc use {
  fill: var(--secondary-text-color);
}

.links.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.join__icon-holder {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.join__icon-holder:hover, .join__icon-holder:focus {
  background-color: var(--accent-color);
  fill: var(--secondary-text-color);
  border-radius: 50%;
}

.join__list-item .join__icon-holder {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__holder {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .subscribe__holder {
    flex-wrap: nowrap;
  }
}

.subscribe {
  display: block;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}
.subscribe b {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  display: block;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscribe b {
    text-align: left;
  }
}
.subscribe__icon {
  fill: var(--secondary-text-color);
}
.subscribe__item {
  width: 450px;
  height: 50px;
  margin: auto;
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) {
  .subscribe__item {
    width: 280px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__item {
    width: 358px;
    margin-bottom: 0;
  }
}
.subscribe__input {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin: auto;
}
.subscribe__button span {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.subscribe__button:hover, .subscribe__button:focus {
  color: var(--accent-color);
  background-color: var(--primary-background-color);
  box-shadow: none;
}
.subscribe__button:hover span, .subscribe__button:hover span, .subscribe__button:focus span, .subscribe__button:focus span {
  color: var(--accent-color);
}
.subscribe__button:hover .subscribe__icon, .subscribe__button:focus .subscribe__icon {
  fill: var(--accent-color);
}

.list.contacts {
  color: var(--primary-text-color);
  margin-left: auto;
}

.contacts__address {
  color: var(--secondary-text-color);
}
.contacts__address:hover, .contacts__address:focus {
  color: var(--accent-color);
}

.contacts__list {
  font-style: inherit;
}
.contacts__list .list li:not(:last-child) {
  margin-bottom: 9px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    width: 232px;
  }
}

.contacts.link {
  color: var(--color-contacts);
}

.contacts__holder.list {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .contacts__holder.list {
    text-align: left;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: translate 2000ms linear, opacity 500ms linear;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
}

.modal {
  width: 450px;
  min-height: 581px;
  background-color: var(--background-team);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
@media screen and (max-width: 479px) {
  .modal {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 26px;
  background-color: transparent;
}
.modal__form {
  width: 370px;
}
@media screen and (max-width: 479px) {
  .modal__form {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__form {
    width: 460px;
  }
}
.modal__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--background-team);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__input-wrap {
  width: 370px;
  height: 40px;
  /* border: 1px solid rgba(33, 33, 33, 0.2); */
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
  top: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .modal__input-wrap {
    width: 240px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__input-wrap {
    width: 448px;
  }
}
.modal__input-wrap.textarea {
  height: 120px;
  padding: 0;
}

.modal__input-name {
  width: 100%;
  height: 100%;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.modal__input-name:focus {
  border-color: var(--accent-color);
}
.modal__input-name:focus + .input-icon {
  fill: var(--accent-color);
}

.modal__input-tel {
  width: 100%;
  height: 100%;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.modal__input-tel:focus {
  border-color: var(--accent-color);
}
.modal__input-tel:focus + .input-icon {
  fill: var(--accent-color);
}

.modal__input-mail {
  width: 100%;
  height: 100%;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.modal__input-mail:focus {
  border-color: var(--accent-color);
}
.modal__input-mail:focus + .input-icon {
  fill: var(--accent-color);
}

.modal__input-textarea {
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.modal__input-textarea:focus {
  border-color: var(--accent-color);
}
.modal__input-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.input-icon {
  fill: var(--title-text-color);
  position: absolute;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__check-text {
  display: flex;
  align-items: center;
  gap: 8px;
}
.modal__check-text a {
  color: var(--accent-color);
}
.modal__check-text a:hover, .modal__check-text a:focus {
  font-weight: 700;
}
.modal__check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 5px;
  fill: transparent;
}

.modal__checkbox:checked + .modal__check-text > span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--secondary-text-color);
}

.modal__checkbox:focus + .modal__check-text > span {
  border-color: var(--accent-color);
}

.modal__wrap-privacy {
  display: flex;
  width: 423px;
  margin-bottom: 30px;
}

.modal__button.submit {
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  min-width: 216px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  border-radius: 4px;
  border-color: transparent;
}
.modal__button.submit:hover, .modal__button.submit:focus {
  color: var(--accent-color);
  background-color: var(--primary-background-color);
  box-shadow: none;
}

.modal__wrap-button {
  text-align: center;
}
@media screen and (max-width: 479px) {
  .modal__wrap-button {
    text-align: left;
    margin-left: 15px;
  }
}

.agree {
  font-size: 12px;
}
@media screen and (max-width: 479px) {
  .agree {
    font-size: 10px;
    width: 190px;
  }
}
@media screen and (min-width: 1200px) {
  .agree {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mob-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  padding-left: 40px;
}

.menu-close {
  margin-left: auto;
  display: block;
  margin-bottom: 12px;
  background-color: #ffffff;
  border: none;
}

.menu-close:focus > .menu-close-button {
  fill: #2196F3;
}

.menu-open {
  background-color: #ffffff;
  border: none;
}

.menu-mob-short {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 10px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .menu-mob-short {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-mob-short {
    display: none;
  }
}

.menu-mob-short .logo {
  color: #212121;
}

.mob-menu-list {
  margin-bottom: 50px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu-link:focus {
  color: var(--accent-color);
}

.mob-soc-list {
  display: flex;
  gap: 20px;
}

.mob-contacts {
  margin-bottom: 64px;
}

.mob-contacts__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196F3;
  display: block;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .mob-contacts__phone {
    font-size: 28px;
  }
}

.mob-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196F3;
}
@media screen and (max-width: 479px) {
  .mob-soc-link {
    font-size: 10px;
  }
}

.mob-menu-link.current {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */